header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 48px #0000000F;
    height: 50px;
    width: 98vw;
}

.orderhead {
    float: left;
    color: #5861AE;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    margin: 1.2% 0 0 8%;
}

.header-main {
    top: 0px;
    left: 0px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 48px #0000000F;
    opacity: 1;
}

.header-logo {
    display: block;
    /* width: 100%; */
}

.nav p {
    padding: 5% 20px 0px 20px;
    font-family: Verdana, sans-serif;
    font-size: small;
    border-left: 0.01px solid #77838f2a;
    color: #5861AE;
    height: 50px;
    align-content: center;
    margin-bottom: 0;
}

.navlist2 {
    display: flex;
    flex-direction: row;
    background-color: #4552C1;
    color: #FFFFFF;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 9vw;
}


#navlist3 {
    padding-top: 8%;
    font-family: Verdana, sans-serif;
    font-size: small;
    border-left: 0.01px solid #77838f2a;
    color: white;
    background-color: #4552C1;
    height: 50px;
    align-content: center;
    margin-bottom: 0;

}

.header-img {
    margin-top: 2vh;
    height: 20px;
    width: 20px;
    background-color: transparent #4552C1;
}

.header-name {
    top: 27px;
    left: 45px;
    width: 70px;
    height: 27px;
    /* UI Properties */
    text-align: left;
    font: normal normal 900 20px/27px Avenir;
    letter-spacing: 1.8px;
    color: #5861AE;
    text-transform: uppercase;
    opacity: 1;
    position: relative;
}

.header-btn {
    display: inherit;
    position: inherit;
    /* margin-right: 5px; */
}

.header-ul {
    display: -webkit-box;
    float: right;
}

.header-price {
    top: 13px;
    left: 995px;
    width: 113px;
    height: 78px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    list-style: none;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.header-career {
    top: 13px;
    left: 1110px;
    width: 113px;
    height: 78px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
}

.header-username {
    display: flex;
    background-color: #4552C1;
    color: white;
}

/* .header-img {
    margin: 10px;
    height: 43px;
    align-self: center;
    border-radius: 50%;
} */

.user-p {
    color: #FFFFFF;
    align-self: center;
}

.logout-logo {
    margin-top: 70%;
    height: 20px;
    align-self: center;
    cursor: pointer;
}